/* ========== GERAL =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --primary-color-1: hsla(209, 85%, 26%, 1);
  --primary-color-2: hsla(209, 77%, 43%, 1);

  --secondary-color-1: rgb(0, 0, 0);
  --secondary-color-2: hsla(210, 9%, 31%, 1);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(204, 100%, 97%);
  --brand-dark: hsl(220, 100%, 14%);

  --background-light: hsl(0, 0%, 98%);
  --nav-height: 7.2rem;

  /* --primary-color-3: hsla(206, 100%, 91%, 1);
     --primary-color-4: hsla(206, 100%, 97%, 1); 
     --secondary-color-3: hsla(0, 0%, 98%, 1);
     --secondary-color-4: hsla(0, 0%, 58%, 1); */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color-1);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--secondary-color-1);
}

section header h1 {
  font-size: 3.2rem;
  line-height: 130%;
  margin-bottom: 2.4rem;

  color: var(--secondary-color-1);
}

section .content p {
  font-weight: 4rem;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--secondary-color-2);
}

.button {
  background: var(--primary-color-2);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  gap: 1.6rem; /* dar espacamento entre os itens */

  display: flex;

  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.button:hover {
  background-color: var(--brand-dark);
  transition: background 200ms;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/*=========== navigation =========== */

nav {
  display: flex;

  height: var(--nav-height);
  width: 100vw;

  position: fixed;
  top: 0;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color-2);
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*=========== Menu-Expanded =========== */

body.menu-expanded {
  overflow: hidden;
}

/* pegando todos os filhos do primeiro nivel EXCETO (:not(nv)) a class 'nav' */
body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color-1);

  width: 100vw;
  height: 100vh;

  padding: var(--nav-height);

  transition: transform 350ms;
  transform: translateY(0);
}

.menu {
  transform: translateY(-100%);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background-color: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color-1);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*=========== #HOME =========== */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color-1);
  margin-bottom: 1.6rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--secondary-color-2);
  margin-bottom: 3.2rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 3.4rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--secondary-color-1);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color-1);
  font-size: 1.6rem;
  line-height: 150%;
}

/*=========== Services =========== */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/*=========== About =========== */

#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*=========== Contact =========== */

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*=========== Footer =========== */

footer .wrapper {
  background-color: var(--primary-color-1);
  padding-block: 6rem;

  text-align: left;

  color: white;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/*=========== Back To Top =========== */

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
}

#backToTopButton svg {
  width: 4rem;
  height: 4rem;

  padding: .8rem;

  border-radius: 2rem;
  background-color: var(--primary-color-1);
}
